In [17]:
import pandas as pd

data = {'col1': [1, None, 3], 'col2': ['a', None, 'c']}
df = pd.DataFrame(data)
df.head()

   col1  col2
0   1.0     a
1   NaN  None
2   3.0     c

In [18]:
df_filled = df.fillna(0)
df_filled

   col1 col2
0   1.0    a
1   0.0    0
2   3.0    c

In [19]:
df_filled = df.fillna(method='ffill')
df_filled

C:\Users\ali\AppData\Local\Temp\ipykernel_2340\685454775.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled = df.fillna(method='ffill')

   col1 col2
0   1.0    a
1   1.0    a
2   3.0    c

In [20]:
df_filled = df.fillna(method='bfill')
df_filled

C:\Users\ali\AppData\Local\Temp\ipykernel_2340\3373720968.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled = df.fillna(method='bfill')

   col1 col2
0   1.0    a
1   3.0    c
2   3.0    c